@import './constants.css';

html, body {
  margin: 0px;
  padding: 0px;
}

.App {
  display: grid;
  place-content: center;
  height: 100%;
  background: var(--bg-color);
}

.content {
  display: grid;
  grid-template-columns: 5f 1f;
  grid-template-rows: 1f;
  min-height: 100vh;
  height: 100%;
  background: var(--bg-color);
  justify-items: center;
}

.reset-button {
  width: 30%;
  height: 50px;
}
