:root {
    --tile-size: 85px;
    --light-tile: #cfac92;
    --dark-tile: #826446;
    --bg-color: #161616;
    --legal-move: rgba(0,0,0,0.1);
}

@media all and (max-width : 450px) {
    :root {
        --tile-size: 50px;
    }
}